.works_page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

.search {
    width: 65%;
    border: 1px solid black;
    padding: 5px 25px;
    border-radius: 15px;
    background-image: url('../../assets/search.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    display: flex;
    align-items: center;
}

.speciality_header {
    width: 100%;
}

.search_div {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 20px;
}

.add_card {
    height: 20px;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.add_card p{
    user-select: none;
}

.modalBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.modalContent {
    display: flex;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    /* background-color: white; */
    z-index: 101;
    color: black;
}

.speciality {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.speciality_text {
    text-align: center;
    font-size: 24px;
}

.speciality_list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    background-color: #8fb7dd;
    border-radius: 15px;
    padding: 15px 15px;
}

.card:hover {
    background-color: #71a6d8;
}

.card_name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.card_price {
    font-size: 24px;
    font-weight: 500;
    width: 30%;
}

.price_time {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.card_description {
    height: 75px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    
}

.categories {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 0; */
    left: 15%;
    /* margin-top: 5px; */
}

.categoryName {
    margin: 0;
    margin-top: 5px;
}

.categories_text {
    /* text-align: center; */
    font-size: 24px;
}

.category {
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

}

.category:hover {
    background-color: #f0e7e7;
}

.delete_card {
    height: 20px;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}

.delete_card p{
    user-select: none;
}