.radio_buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.error-notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
